@font-face{
  font-family: 'Title Font';
  src: url('fonts/ADAM.CG PRO.otf');
}

h1{
  font-family: 'Title Font';
  /*text-align: center;*/
}

#results{
  float: right;
}

input{
  text-align: center;
}

.cited {
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  margin-bottom: 30vh;
}

#searching {
  /*text-align: center;*/
}
